@font-face {
    font-family: 'Berkeley';  /* Assign a name to your font */
    src: url('/home/mp/gows/public/BerkeleyMonoVariable-Regular.woff2') format('woff2');  /* Path to your WOFF2 font file */
}


h1 {
    color: #ebdbb2;
    font-family: 'Berkeley', mono;
    font-size: 18;
}

body {
    background: #282828;
    margin: 10;
    padding: 10;
    font-family: 'Berkeley', mono;
    font-size: 12;
}

form {
    min-width: 200px;
    margin: 20px auto;
    padding: 20px;
    background: #282828;
    color: #ebdbb2;
    border-radius: 10px;
    font-family: 'Berkeley', mono;
    font-size: 10;
}

button {
    background-color: #3c3836;
    color: #ebdbb2;
    padding : 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Berkeley', mono;
    font-size: 10;
}

button:hover {
    background-color: #ebdbb2;
    color: #282828;
    border: none;
    border-radius: 10px
}

input[type="text"],
input[type="password"]{
    width: 25%;
    background-color: #7c6f64;
    color: #ebdbb2;
    border: none;
    cursor: ponter;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Berkeley', mono;
    font-size: 12;
}
input[type="text"],
input[type="password"]:hover{
    width: 25%;
    background-color: #7c6f64;
    color: #ebdbb2;
    border: 2px;
    border-color: #282828;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #3c3836;
    color: #ebdbb2;
    border: 2px;
    border-color: #fabd2f;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Berkeley', mono;
    font-size: 12;
}

input[type="submit"]:hover {
    background-color: #ebdbb2;
    border-radius: 10px;
    color: #282828;
}

.container {
    display: flex;
    height: 100vh;
}

.half {
    flex: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ebdbb2;
}

.quater {
    flex: 1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ebdbb2;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex: 1;
}

.flex-cell {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.flex-cell a {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
}

.flex-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the area without distortion */
}

.flex-item {
    flex: 1;
}

.flex-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns */
    grid-template-rows: 1fr 1fr; /* Creates two rows */
    gap: 10px; /* Space between the grid items */
    height: 100vh; /* Full viewport height */
}
.grid-item {
    width: 100%;
    height: 100%;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the item */
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 100;
}

.position-container {
    position: relative;  /* Context for absolute positioning */
}

.center-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* Shifts the div back by half its own width */
    width: 50%;
}
